
:root
{
    /* Font Size Styling */
    --title-size: 50px; /* For titles in section 1 and 2  */
    --small-title-size: 32px; /* For title in section 3 */
    --text-size: 20px; /* For navbar text, form field texts and paragraphs in every section */
    --small-text-size: 14px; /* For footer text and quote section */
    /* End of Font Size Styling */

    /* Colors Styling */
    --beige-color: #e8dfdf; /* Sections in beige */
    --blue-color: #262e4d; /* Sections in blue */
    /* End of Colors Styling */
}

@media only screen and (max-width: 900px), (orientation: portrait)
{
    :root
    {
      --title-size: 25px;
      --small-text-size: 20px;
      --text-size: 10px;
      --small-title-size: 5px;

    }
    body
    {
        padding-top: 20vmin;
    }

}



*
{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: inherit;
	color: inherit;
	list-style: inherit;
	font-size: inherit;
	font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body
{
  padding-top: 100px;
	font-size: var(--text-size);
	color: black;
	list-style: none;
	font-family: var(--text-family);
	font-weight: 400;
  line-height: 1.5;
  background-color: var(--beige-color);
}

.btn
{
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 32px;
    border-radius: 20px;
}
.btn:hover
{
    background-color: var(--beige-color);
    color: black;
}
.btn-started
{
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 32px;
    letter-spacing: 8px;
    border-radius: 20px;
}
.btn-started:hover
{
    background-color: var(--beige-color);
    color: black;
}
.btn-section
{
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 32px;
    letter-spacing: 8px;
    border-radius: 20px;
}
.btn-section:hover
{
    background-color: var(--beige-color);
    color: black;
}

.btn-form
{
    border: 2px solid white;
    background-color: white;
    color: var(--blue-color);
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 32px;
    letter-spacing: 5px;
    border-radius: 20px;
}
.btn-form:hover
{
    background-color: var(--blue-color);
    color: white;
}



/* Navbar  */
.navbar
{
    display: flex;
    width: 100%;
    padding: 4vmin 8vmin;
    align-items: center;
    position: fixed;
    z-index: 99999;
    background-color: var(--beige-color);
    top: 0;
}
.nav-logo
{
    width: 100px;
    height: 30px;
}
.nav-menu
{
    display: flex;
    margin-left: auto;
    color: black;
}
.nav-menu li
{
    padding: 6px;
    margin: 0 10px;
    cursor: pointer;
}
.nav-menu li:hover
{
    color: grey;
}

.ham-icon
{
  display: none;
}

@media only screen and (max-width: 900px), (orientation: portrait)
{

    .nav-brand
    {
        display: block;
        margin: 0 auto;
    }
    .nav-menu
    {
        display: none;
        margin-top: 4vmin;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .ham-icon
    {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }
    .ham-show
    {
      display: flex;
    }

    p
    {
      font-size: 10px;
    }
}
.title
{
    font-size: var(--title-size);
    font-weight: 700;
}
.subtitle
{
    font-size: var(--small-title-size);
    font-weight: 700;
}
.subtitle-dif
{
    font-size: var(--small-title-size);
    font-weight: 700;
    color: white;
}
.image
{
  width: 50%;
  height: 50%;
}
.footer-title
{
  letter-spacing: 1.2px;
  font-size: 20px;
  color: grey;
}


.footer-links
{
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.footer-links-social
{
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* Header */
header
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 4vmin 8vmin;
    margin-bottom: 10vmin;
    background-color: var(--beige-color);
}
.header-info
{
    width: 50%;
    padding: 40px 80px 30px 0;
}
.header-info .title, .header-info p
{
    margin-bottom: 15px;
}
.header-img
{
    order: 2;
    width: 50%;
}

.img
{
  position: absolute;
  align: center;
  width: 130%;
  height: 150%;
}
.link
{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding-bottom: 0.8vmin;
    color: var(--blue-color);
    cursor: pointer;
    overflow: hidden;
}
.link-section
{

  padding-bottom: 0.8vmin;
  color: #eda864;
  cursor: pointer;
}

.link-v
{
  align-items: center;
  width: fit-content;
  padding-bottom: 0.8vmin;
  color: #34a7c9;
  cursor: pointer;
  overflow: hidden;
}

.second
{
  padding-top: 20vmin;
  padding-bottom: 40vmin;
  padding-left: 20vmin;
  padding-right: 20vmin;
  background-color: white;
  text-align: center;
}

.diference
{
  position: relative;
  width: 100%;
  height: 50vmin;
  background-color: var(--blue-color);
  text-align: center;
}

.dif-content
{
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 60vmin;
  width: 45vmin;
  left: 50%;
  top: -5vmin;
  transform: translateX(-50%);
}

.footer
{
  width: 100%;
  padding-top: 5vmin;
  padding-bottom: 10vmin;
  padding-left: 5vmin;
  background-color: var(--blue-color);
}

.img:after
{

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.column
{
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column-footer
{
  float: left;
  width: 17%;
  padding: 10px;
}

.column-footer-btn
{
  float: right;
  width: 19%;
  padding: 10px;
}

.column-form
{
  float: left;
  width: 18%;
  padding: 10px;
  margin-left: 100px;
}

.twoColumns
{
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

input[type=text], select {
  width: 130%;
  padding-bottom: 10px;
  display: inline-block;
  background-color: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey
}
